extends ../layouts/default

include ../mixins/blog/show-post
include ../mixins/sidebar

block content
	.container--banner: .jumbotron
		.container.home__banner.blog__banner
			.banner__text
				h2.banner__title Get free exclusive fitness tips
				.form__container
					form(method="post", action="/newsletter/signup").signup__form
						input(type="hidden", name="action", value="emailsignup")
						input(type="hidden", name="name.full", value="")
						input(type="email", name="email", required, autocomplete="email", placeholder="Enter your email address").input__text
						input(type="submit", value="Sign Up").input__submit
	.container
		section.blog__content
			if data.posts.results.length
					each post in data.posts.results
						+showPost(post)
			else
				if data.category
					h3.text-muted There are no posts in the category #{data.category.name}.
				else
					h3.text-muted There are no posts yet.
		aside.blog__sidebar
			+sidebar()

block js
	//- script(id="dsq-count-scr", src="//fitnesspug.disqus.com/count.js", async)
	script(src = '/js/components/_blogs.js')