extends ../layouts/default

block content
	.container--banner: .jumbotron
		.container.home__banner
			.banner__text
				h1.banner__title Get free exclusive fitness tips
				p Enter your email below to get access to fitness and health tips
				.form__container
					form.signup__form
						input(type="email", required, autocomplete="email").input__text
						input(type="submit", value="Sign Up").input__submit
			.banner__image
				img(src="/images/banner.jpg")
	.page__content
		.container.guide__leadbox.container--sm
			h2 7 Benefits of having Yoga everyday
			.guide__avatar
				img(src="/images/avatar.png")
				p Sharjeel Ahmad, March 19th, 2017
			.content__guide
				p
					strong Sed ut perspiciatis und omnis
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
				img(src="/images/plank.jpg")
				p
					strong Sed ut perspiciatis und omnis
				p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
			a(href="#").cta.cta--full Click Here to Access The Case Study