extends ../layouts/default

block intro
	.container
		h1 Signup to Newsletter
		
block content
	.container
		if subscriberSubmitted
			h3 Thanks for signing up. We have sent you an email for confirmation.
		else
			.row: .col-sm-8.col-md-6
				p.error= validationErrors
				form(method='post')
					input(type='hidden', name='action', value='emailsignup')
					input(type="hidden", name="name.full", value="")
					//-.form-group(class=validationErrors.name ? 'has-error' : null)
						label Name
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='email', name='email', autocomplete="email", value=formData.email).form-control
					.form-actions
						button(type='submit').btn.btn-primary Submit
