extends ../layouts/default

block intro
    .container
        h1 Unsubscribe

block content
    .container
        if unSubscribed
            h3 Your email address has been unsubscribed.
        else if alreadyUnsubscribed
            h3 Your email address is already unsubscribed from our newsletter.
        else
            p.has-error Something went wrong. Please refresh this page to try again.