extends ../layouts/default

block intro
    .container
        h1 Email Confirmation

block content
    .container
        if subscriberConfirmed
            h3 Your email address has been confirmed.
        else if alreadyConfirmed
            h3 Your email address is already confirmed and subscribed to our newsletter.
        else
            p.has-error Something went wrong. Please refresh this page to try again.