extends ../layouts/default

include ../mixins/sidebar

block content
	.container: .row
		article.article.col-md-8
			a(data-slug=data.post.slug,data-postid=data.post.id,href='/blog/post/' + data.post.slug)#post-title
				h1= data.post.title
			if data.post.image.exists
				.header__wrapper(style="background-image: url('" + data.post.image.secure_url + "')")
			.content__copy!= data.post.content.full
			#disqus_thread
		aside.aside.col-md-4
			+sidebar()


block js
	script(src='/js/components/_blogs.js')