include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= siteMeta.title
		meta(name="description", content=siteMeta.description)

		//- Facebook OG
		meta(property="og:url", content=siteMeta.url)
		meta(property="og:type", content=siteMeta.type)
		meta(property="og:title", content=siteMeta.title)
		meta(property="og:description", content=siteMeta.description)
		meta(property="og:image", content=siteMeta.image)

		//- Twitter Card
		meta(name="twitter:card", content="summary_large_image")
		meta(property="twitter:title", content=siteMeta.title)
		meta(name="twitter:image", content=siteMeta.image)
		meta(name="twitter:url", content=siteMeta.url)
		meta(property="twitter:description", content=siteMeta.description)

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Type Kit
		script(src='https://use.typekit.net/pld6sli.js')
		script.
			try{
				Typekit.load({ async: true });
			}catch(e){}
		//- Google Fonts
		//- link(href="https://fonts.googleapis.com/css?family=Lato:400,700", rel="stylesheet")
		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")



		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		script(src="/js/components/_header.js")
		//- HEADER
		#header: .container

			//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
			//- ... or completely change this header to suit your design.

			div(role="navigation").navbar.navbar-default
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							img(src="/images/cat.png")
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
						ul.nav.navbar-nav.navbar-right
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
							//-if user
							//-	if user.canAccessKeystone
							//-		li: a(href='/keystone') Open Keystone
							//-	li: a(href='/keystone/signout') Sign Out
							//-else
							//-	li: a(href='/keystone/signin') Sign In

		//- BODY
		#body

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- Flash messages allow you to display once-off status messages to users, e.g. form
			//- validation errors, success messages, etc.
			+flash-messages(messages)

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER

		#footer-nav: .container.container--sm
			.footer__nav.clearfix
				.col-md-4.col-md-push-4
					a(href="/").logo__link
						img(src="/images/cat.png").logo
				.col-md-4.col-md-pull-4
					ul.nav.navbar-nav.navbar-center
						li
							a(href="/blog") Blog
						li
							a(href="/about") About
				.col-md-4
					ul.nav.navbar-nav.navbar-center
						li
							a(href="/facebook") Facebook
						li
							a(href="/twitter") Twitter
		#footer: .container.container--sm
			.footer__info
				a(href="#") Terms of Service
				a(href="#") Privacy Policy
				p &copy; 2017 Fitness Overflow
			//- You don't _have_ to include a link saying your site is powered by KeystoneJS, but we appreciate it!
			//- p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.


		//- JAVASCRIPT

		//- jQuery 1.11.3 is included by default, and required by both Bootstrap
		//- and the KeystoneJS Content Editor. If you are not targeting IE8,
		//- you can upgrade to 2.1.4 (also bundled) for better performance.
		script(src='/js/jquery/jquery-2.1.4.min.js')

		//- Customise which Bootstrap javascript files are served by including
		//- them specifically here, instead of bootstrap-3.3.5.min.js
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		//- Add scripts that are globally required by your site here.

		//- Include template-specific javascript files by extending the js block
		block js
