#header {

	background: $color-primary;
	border-bottom: 1px solid hsla(0,0%,100%,.3);
}

#footer-nav {
	margin-top: 64px;
	//border-top: 1px solid #eeeeee;
	//padding-top: 30px;
	//color: #777777;
	background: $color-primary;
	.footer__nav {
		padding: 24px 0;
		.logo {
			max-height: 40px;
		}
		.logo__link {
			display: block;
			text-align: center;
		}
		.nav {
			> li {
				&:not(:last-child) {
					margin-right: 16px;
				}
				> a {
					color: white;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
					&:hover {
						color: white;
						background: none;
					}
				}
			}
		}
		.navbar-nav {
			text-align: center;
			width: 100%;
			> li {
				float: none;
				display: inline-block;
			}
		}
	}
}
#footer {
	background: darken($color-primary, 10%);
	.footer__info {
		text-align: center;
		padding: 16px 0;
		a {
			color: white;
			margin-right: 1em;
			display: inline-block;
			&:hover {
				color: white;
				background: none;

			}
		}
		p {
			display: inline-block;
			margin: 0;
			color: white;
		}
	}
}
.navbar-default {
	border: none;
	background: $color-primary;
	margin-bottom: 0;
	padding: 20px 0;
	.navbar-brand {
		color: white;
		&:hover {
			color: white;
		}
		img {
			max-height: 30px;
		}
	}
	.navbar-nav {
		li {
			> a {
				color: white;
				text-transform: uppercase;
				&:hover {
					color: white;
				}
			}
		}
		> .active {
			> a {
				color: white;
				background: none;
				&:hover {
					color: white;
					background: none;
				}
			}
		}
	}
}
.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
body {
	font-family: "proxima-nova",sans-serif;
	font-weight: 400;
	background-color: $color-bg;
	font-size: 18px;
	line-height: 30px;
	text-rendering: optimizeLegibility;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "museo-slab",serif;
	font-weight: 700;
}
h1 {
	margin: 30px 0 20px;
}
a {
	text-decoration: none !important;
	color: black;
	&:hover {
		color: $color-cta;
	}
}
input, textarea, select {
	padding: 0;
	margin: 0;
	border: none;
}
.error {
	color: red;
}

.jumbotron {
	.container {

		@media (min-width: $screen-md-min) {
			max-width: 1030px;
		}

	}
}
.container {

	@media (min-width: $screen-md-min) {
		max-width: 1030px;
	}

	&.container--sm {
		@media (min-width: $screen-sm-min) {
			max-width: $screen-sm-min;
			margin-left: auto;
			margin-right: auto;
		}
	}

}

.cta {
	height: 55px;
	line-height: 55px;
	background: $color-cta;
	border: none;
	color: white;
	transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
	letter-spacing: 1px;
	padding: 0 16px;
	text-align: center;
	margin-top: 32px;
	&:hover {
		background-color: darken($color-cta, 10%);
		color: white;
	}
	&.cta--full {
		width: 100%;
		display: block;
	}
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}