// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;



$color-aqua: #4CDEF5;
$color-green: #A4D555;
$color-red: #FF5992;
//$color-purple: #841983;
$color-purple: #af21ae;
//$color-bg: #f1f1f1;
$color-bg: #e4e2dd;

$color-primary: $color-green;
$color-cta: $color-purple;

//$color-green: #4ABDAC;
//$color-orange: #FC4A1A;
//$color-yellow: #F7B733;
//$color-grey: #DFDCE3;
