html
	head
	body
		h1 Welcome,
		p.text-larger Thank you for signing up to newsletter from #{brand}
		p.text-larger Please click the link below in order to confirm your registration
		if subscriber.token
			p.text-larger
				a(href=SITE_URL + "newsletter/verify/" + subscriber.token) #{SITE_URL}newsletter/verify/#{subscriber.token}
		p.text-larger If you do not want to confirm, simply ignore this message.
		p &nbsp;
