.blog {
  .content__post {
    &:nth-of-type(3n+1) {
      clear: left;
    }
  }
}
.header__wrapper {
  padding-top: 20%;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 2em 0;
  &:before {
    content: ' ';
    background: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .header__post__content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 40px;
      font-weight: 900;
      color: white;
      margin: 0;
    }
  }
}
.article {
}
.related__posts {
  list-style: none;
  padding-left: 0;
  li {
    padding-left: 36px;
    position: relative;
    .icon {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 10px;
      top: 6px;
    }
    a {}
  }
}
.top__posts {
  list-style: none;
  padding-left: 0;
  counter-reset: list-counter;
  li {
    padding-left: 36px;
    position: relative;
    counter-increment: list-counter;
    &:before {
      content: counter(list-counter)".";
      position: absolute;
      left: 10px;
      top: 1px;
      font-weight: bold;
    }
    a {}
  }
}
.signup__aside {
  background: $color-primary;
  padding: 16px;
  text-align: center;
  color: white;
  margin-bottom: 32px;
  .form__container {
    background: white;
    border-radius: 2px;
    overflow: hidden;
    padding: 8px;
  }
}
.blog__content {
  @media (min-width: $screen-md-min) {
    width: 66.667%;
    float: left;
    padding: 0 15px;
  }
}
.blog__sidebar {
  @media (min-width: $screen-md-min) {
    width: 33.333%;
    float: left;
    padding: 0 15px;
  }
  .sidebar {
    padding-top: 0;
  }
}

.read__more__wrap {
  float: left;
}
.social__share {
  text-align: right;
  float: right;
  @include clearfix;
  a {
    display: inline-block;
    width: 60px;
    text-align: center;
    height: 48px;
    border-radius: 2px;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &.facebook-share {
      background: #3b5998;
    }
    &.twitter-share {
      background: #1da1f2;
    }
    .icon {
      stroke: white;
      fill: white;
      width: 20px;
      height: 48px;
      &.icon-facebook {
      }
    }
  }
}