img {
  max-width: 100%;
}
.post__categories {
  padding: 0 24px;
  margin: 2em 0 1em;
  .btn {
    background-color: $color-primary;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 8px;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
.blog {
  display: flex;
  flex-wrap: wrap;
}
.content__post {
  margin-bottom: 48px;

  .post__copy {
    padding: 0 24px;
    p {
      font-size: 16px;
      line-height: 24px;
    }
    h2 {
      a {
        font-size: 30px;
        line-height: 40px;
        color: black;
        &:hover {
          color: $color-purple;
        }
      }
    }
  }
  .read-more {
    .btn {
      background-color: $color-purple;
      color: white;
      border: 0;
      padding: 10px;
      margin-top: 2em;
      font-size: 20px;
      transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
      width: 100%;
      &:hover {
        background-color: darken($color-cta, 10%);
      }
    }
  }
  .content__copy {
    background-color: white;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    padding: 0 0 32px;
  }
  .image__link {
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &:hover {
      .post__image {
        //transform: scale(1.1);
      }
    }
    img {
      display: none;
    }
    .post__image {
      transition: all 0.2s ease-in-out;
      padding-top: 30%;
      background-size: cover;
      background-position: center;
    }
  }
  .date {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: $color-aqua;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    .day {
      display: inline-block;
      margin-right: 4px;
    }
    .month {
      display: inline-block;
    }
    .year {
      display: block;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.container--banner {
  background: $color-primary;
  width: 100%;
  .jumbotron {
    background: $color-primary;
    padding: 64px 0;
  }
}
.home__banner {

  .banner__title {
    text-transform: uppercase;
    font-weight: 900;
    color: white;
  }
  @include clearfix;
  .banner__text,
  .banner__image {
    width: 50%;
    float: left;

  }
  .banner__text {
    //padding: 0 24px 0 0;
    p {
      color: white;
    }
  }
  .banner__image {
    padding: 0 0 0 24px;
  }
  &.blog__banner {
    .banner__title {
      text-transform: none;
      font-size: 24px;
      @media (min-width: $screen-sm-min) {
        font-size: 36px;
      }
    }
    .banner__text {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      float: none;
      .signup__form {
        width: 100%;
        @media (min-width: $screen-sm-min) {
          max-width: 90%;
          width: 90%;
        }
        margin: 32px auto 0;
      }
    }
  }
}

.guide__leadbox {

  h2 {
    text-align: center;
    font-weight: 900;
  }
  .content__guide {
    img {
      margin: 32px auto;
    }
  }
  .guide__avatar {
    text-align: center;
    margin-bottom: 32px;
    img {
      max-height: 55px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 20px;
    }
    p {
      display: inline-block;
      margin: 0;
    }
  }
}
.sidebar {
  padding: 32px 0;
}