.form__container {

}
.signup__form {
  width: 90%;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  .input__text {
    height: 60px;
    width: 100%;
    padding: 0 125px 0 16px;
    @media (max-width: $screen-xs-max) {
      padding: 0 16px;
      text-align: center;
      &::-webkit-input-placeholder {
        text-align: center;
      }
      &:-moz-placeholder {
        text-align: center;
      }
      &::-moz-placeholder {
        text-align: center;
      }
      &:-ms-input-placeholder {
        text-align: center;
      }
    }
  }
  .input__submit {
    position: relative;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      position: absolute;
      width: 111px;
    }
    height: 60px;
    top: 0;
    right: 0;
    background: $color-cta;
    letter-spacing: 1px;

    color: white;
    transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
    &:hover {
      background-color: darken($color-cta, 10%);
    }
  }
}
.signup__form--aside {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  input {
    width: 100%;
    display: block;
    height: 60px;
    border-radius: 2px;
  }
  .input__text {
    text-align: center;
    color: black;
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder {
      text-align: center;
    }
    ::-moz-placeholder {
      text-align: center;
    }
    :-ms-input-placeholder {
      text-align: center;
    }
  }
  .input__submit {
    background: $color-cta;
    letter-spacing: 1px;
    color: white;
    transition: all 0.3s cubic-bezier(.17,.67,.83,.67);
    &:hover {
      background-color: darken($color-cta, 10%);
    }
  }
}
.form__errors {
  color: red;
}
.form__success {
  color: black;
}